{{#each movies as |movie|}}

<ul>
  <h1 data-id="{{movie.id}}">
     <small class="main-title">
       Title:{{movie.title}}
     </small>
   </h1>
    {{#if movie.title}}
      <li class="id">Movie ID:{{movie.id}}</li>
      <li class="director">Director:{{movie.director}}</li>
      <li class="actor">Actor:{{movie.actor}}</li>
    {{else}}
      Nothing provided
    {{/if}}<br>
    <button class="movie-delete" data-id={{movie.id}}>
      Remove
    </button>
</ul>

  {{/each}}

</ul>
