{{#each users as |user|}}



<h1 data-id="{{user.id}}">
  <small>
    <button type="button" class="link">User: {{user.email}}
  </small>
</h1>

{{#each movies as |movie|}}

<ul data-id="{{movie.id}}">
  <h1>
     <small class="main-title">
       Title:{{movie.title}}
     </small>
   </h1>
    {{#if movie.title}}
      <li class="id">Movie ID:{{movie.id}}</li>
      <li class="director">Director:{{movie.director}}</li>
      <li class="actor">Actor:{{movie.actor}}</li>
    {{else}}
      Nothing provided
    {{/if}}<br>
    <button class="add-movie" data-id={{movie.id}}>
      Add to List
    </button>
</ul>

  {{/each}}

</ul>


{{/each}}
